@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Obviously";
  src: url("fonts/Obviously_Bold_Italic.woff2") format("woff2");
  src: url("fonts/Obviously_Bold_Italic.woff") format("woff");
  src: url("fonts/Obviously_Bold_Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Obviously";
  src: url("fonts/Obviously_Bold.woff2") format("woff2");
  src: url("fonts/Obviously_Bold.woff") format("woff");
  src: url("fonts/Obviously_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Obviously";
  src: url("fonts/Obviously_Semi_Italic.woff2") format("woff2");
  src: url("fonts/Obviously_Semi_Italic.woff") format("woff");
  src: url("fonts/Obviously_Semi_Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Obviously";
  src: url("fonts/Obviously_Semi.woff2") format("woff2");
  src: url("fonts/Obviously_Semi.woff") format("woff");
  src: url("fonts/Obviously_Semi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --gradient-fire: linear-gradient(
    90deg,
    #dca00f 20.05%,
    #e47e10 49.16%,
    #e73235 129.38%
  );

  --gradient-blue: linear-gradient(
    87deg,
    #182140 -24.71%,
    #1755f4 52.39%,
    #00afb9 129.5%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

.ease {
  transition: all 0.2s ease-in-out;
}


.font-mulish.font-semibold {
  font-variation-settings: "wght" 600;
  font-weight: 400;
}
.font-mulish.font-bold {
  font-variation-settings: "wght" 700;
  font-weight: 400;
}

.underline {
  @apply underline-offset-4;
}

@screen lg {
  .dim {
    transition: opacity 0.2s ease;
    @apply opacity-100;
  }
  .dim:hover {
    @apply opacity-70;
  }
}

.gradient-blue {
  background: var(--gradient-blue);
}

.gradient-fire {
  background: var(--gradient-fire);
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

:disabled,
.disabled {
  @apply opacity-40 pointer-events-none;
}

.faq-item__trigger[data-state="open"] > * {
  background: var(--gradient-fire);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}